.Navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5em;
  justify-content: space-between;
  background-color: #032541;
  color: white;
  padding-top: 30px;
  padding-right: 20px;

  span {
    color: orange;
  }
  .movieCollection {
    position: relative;
    .movieList {
      // display: flex;
      flex-direction: column;

      position: absolute;
      z-index: 2;
      display: none;
      width: fit-content;
      background-color: white;
    }
    &:hover {
      .movieList {
        display: flex;
      }
    }
    ul {
      color: black;
      list-style: none;
      padding: 0 0;
      li {
        &:hover {
          background-color: green;
        }
      }
    }
  }

  .tvCollection {
    position: relative;
    .tvList {
      
      flex-direction: column;

      position: absolute;
      z-index: 2;
      display: none;
      width: fit-content;
      background-color: white;
    }
    &:hover {
      .tvList {
        display: flex;
      }
    }
    ul {
      color: black;
      list-style: none;
      padding: 0 0;
      li {
        &:hover {
          background-color: green;
        }
      }
    }
  }
}
